<div class="container">

  <h2>Consultas</h2>

  <div class="form">

    <input type="date" [(ngModel)]="dataConsulta" />

    <input type="text" placeholder="Observações" [(ngModel)]="observacoes" />

    <select [(ngModel)]="pacienteSelecionado">
      <option value="">Selecione o paciente</option>
      <option *ngFor="let p of pacientes" [value]="p.id">
        {{ p.nome }}
      </option>
    </select>

    <button (click)="salvar()">
      Salvar consulta
    </button>

  </div>

  <hr />

  <table border="1" width="100%">
    <tr>
      <th>Data</th>
      <th>Observações</th>
      <th>Paciente</th>
      <th>Ações</th>
    </tr>

    <tr *ngFor="let c of consultas">
      <td>{{ c.dataConsulta }}</td>
      <td>{{ c.observacoes }}</td>
      <td>{{ c.paciente?.nome }}</td>
      <td>
        <button (click)="excluir(c.id!)">
          Excluir
        </button>
      </td>
    </tr>
  </table>

</div>